body{
    background-color: #5b9ca7;
}
.worklist{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr)) ;
    grid-gap: 0px;
    margin-top: 50px;
    margin-left: 60px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;   


}
.img1{
    overflow: hidden;
}

.layer{
    width: 78%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #5b9ca7);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom:0 ;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 5px;
    font-size: 14px;
    transition: height 0.5s;
}
.layer a{

    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 199x;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60;
    border-radius: 50%;
    text-align:center;
   

}
.work img{
    width: 80%;
    border-radius: 20px;
    display: flex;
    transition: transform 0.5s;
    
}
.work:hover .layer{
    height: 100%;
}