
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #5b9ca7;
}

header {
    background-color: #070707;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 1.5em;
    margin-left: 100px;
}

.color1{
     color: #5b9ca7 ;
}
.color2{
     color:white ;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.main-content {
    padding: 20px;
    flex-grow: 1;
}

main {
    padding: 150px 0;
}



.left-side, .right-side {
    width: 50%;
    box-shadow: #070707;
}

.upload{
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    max-width: 400px;
    margin: 150px auto;
    border-radius: 5px;
    /* border: 1px solid white; */
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.1);
    opacity: 100;
    color:  #5b9ca7;
    display: flex;
    justify-content: center;
    align-items: center;

}

    
#upload-container1, #upload-container2 {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    width: 100%;
}

#fileInput {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}


.preview-container img {
    max-width: 100%;
    margin-top: 10px;
}

.file-details {
    margin-top: 10px;
}

.remove-button, .upload-button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

.remove-button {
    color: red;
    border-radius: 5px;
    border: none;
    width: 90px;
    height: 40px;
}

.upload-button {
    color: white;
    background-color: #18aad7;
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 40px;
}

.image-details {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.image-details img {
    max-width: 100px;
    margin-right: 10px;
}
